@model GruppAsc.Models.Fakturor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fakturor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArbetsTimmar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArbetsTimmar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OCRNummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OCRNummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestallningar.BID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestallningar.BID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
